<!-- <div id="local" class="border-top border-2 p-0">
    <div> <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229929.1760314769!2d-80.36954411689972!3d25.78234042826896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C%20FL%2C%20USA!5e0!3m2!1sen!2sco!4v1632681338696!5m2!1sen!2sco"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    <div>
        <div class="wrapper-local pt-1">
            <h2>Ubicados en Miami, Florida</h2>
            <h2 class="text-primary mb-4" id="typewriter"></h2>
            <p class="fs-5 text-body">Elijimos Miami para nuestra oficina con el objetivo de estar cerca a nuestros
                clientes. Estamos Ubicadoss en Brickell, el corazon y el centro financiero de Miami, cerca de los
                mejores restaurantes, tiendas y tan solo 15 minutos de las playas. ¡Visitennos y no se arrepentiran!
            </p>

        </div>
    </div>
</div> -->

<div class="container">
    <div class="row probootstrap-gutter40">
        <div class="col-md-8">
            <h2 class="mt0">Formulario de Reserva</h2>
            <form action="#" method="post" class="probootstrap-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fname">Nombre</label>
                            <input type="text" class="form-control" id="fname" name="fname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lname">Apellido</label>
                            <input type="text" class="form-control" id="lname" name="lname">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <div class="form-field">
                        <i class="icon icon-mail"></i>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="room">Cuarto</label>
                    <div class="form-field">
                        <i class="icon icon-chevron-down"></i>
                        <select name="room" id="room" class="form-control">
                            <option value="">Seleccionar Habitación</option>
                            <option value="1">Habitación Clasica</option>
                            <option value="2">Habitación Grand Deluxe</option>
                            <option value="3">Habitación Ultra Superior</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date-arrival">Llegada</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" class="form-control" id="date-arrival" name="date-arrival">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date-departure">Salida</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" class="form-control" id="date-departure" name="date-departure">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb30">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adults">Adultos</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="adults" id="adults" class="form-control">
                                    <option value="">Numero de adultos</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="children">Niños</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="children" id="children" class="form-control">
                                    <option value="">Numero de hijos</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2 mb-5">
                    <input type="button" class="btn btn-primary btn-lg" id="submit" name="submit" value="Reserve">
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h2 class="mt0">Feedback</h2>
            <p>Déjanos saber que cual sido tu experiencia con nuestros servicios.
                Estamos, pero mejorar continuamente.
                Gracias por elegirnos.</p>
            <p><a href="#" class="btn btn-primary" role="button">Enviar Mensaje</a></p>
        </div>
    </div>
</div>