<nav class="navbar navbar-expand-lg navbar-light p-3" id="menu">
    <div class="container">
      <a class="navbar-brand" href="#">
        <span class="fs-5 text-primary fw-bold">Hotel Expert</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Habitaciones">Habitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Contacto">Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Reservas">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./CRUD">CRUD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./members">Presentado por</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="email" placeholder="Correo Electronico" aria-label="Suscribete">
          <button class="btn btn-primary btn-primary-outline-success" type="button">Suscribete</button>
        </form>
      </div>

    </div>
  </nav>
