<!-- <div class="container" style="max-width: 500px">
    <div class="text-center mb-4" id="titulo-formulario">
        <div><img src="../../../assets/img/support.png" alt="" class="img-fluid ps-5"></div>
        <h2>Contactanos</h2>
        <p class="fs-5">Estamos aqui para hacer realidad de tus proyectos</p>
    </div>
    <form action="">
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
        </div>


        <div class="mb-3">
            <input type="input" class="form-control" id="nombre" placeholder="Adrian Sanchez">
        </div>


        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Teléfono">
        </div>

        <div class="mb-3">
            <textarea class="form-control" id="msj" rows="4"></textarea>
        </div>

        <div class="mb-3">
            <button type="button" class=" btn btn-primary w-100 fs-5">Enviar Mensaje</button>
        </div>
    </form>
</div> -->
<div class="container">
    <div class="row probootstrap-gutter60">
        <div class="col-md-8">
            <h2 class="mt0">Formulario de contacto</h2>
            <form action="#" method="post" class="probootstrap-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fname">Nombre</label>
                            <input type="text" class="form-control" id="fname" name="fname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lname">Apellido</label>
                            <input type="text" class="form-control" id="lname" name="lname">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="subject">Asunto</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
                </div>
                <div class="form-group mt-2 mb-5">
                    <input type="button" class="btn btn-primary btn-lg" id="submit" name="submit" value="Enviar Mensaje">
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h2 class="mt0">Póngase en contacto con nosotros</h2>
            <ul class="probootstrap-contact-info">
                <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
            </ul>
            <div  class="">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.305935303!2d-74.25986548248684!3d40.69714941932609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sco!4v1635009240262!5m2!1sen!2sco" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>         
            </div>
            <h2>Feedback</h2>
            <p> Déjanos saber que cual sido tu experiencia con nuestros servicios.
                Estamos, pero mejorar continuamente.
                Gracias por elegirnos.
                </p>
            <p><a href="#" class="btn btn-primary" role="button">Enviar Mnesaje</a></p>
        </div>
    </div>
</div>