<div class="row justify-content-center  w-75 mx-auto mt-2 mb-5">
    <div class="">
        <h1 class="p-3 fs-2 border-top border-3 text-center">Integrantes</h1>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Primer nombre</th>
                    <th scope="col">Segundo nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Yahir</td>
                    <td>Del Castillo</td>
                    <td>Aguas</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Henry</td>
                    <td>Maldonado</td>
                    <td>Trocha</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mb-5">
    <div class="d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MtCMtC50gwY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
