<div class="container">
    <div class="row probootstrap-gutter40">
        <div class="col-md-8">
            <h2 class="mt0">Calcular Liquidación de Hospedaje</h2>
            <form class="probootstrap-form" [formGroup]="FormCRUD">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fname">Nombre</label>
                            <input type="text" class="form-control" id="fname" formControlName="FirstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lname">Apellido</label>
                            <input type="text" class="form-control" id="lname" formControlName="LastName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nValue">Valor Noche</label>
                            <input type="text" class="form-control" id="nValue" formControlName="NightValue">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nCount">Cant. Noches</label>
                            <input type="text" class="form-control" id="nCount" formControlName="NightsCount">
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2 mb-5">
                    <input type="submit" class="btn btn-primary btn" value="Guardar" [disabled]="FormCRUD.invalid" (click)="SubmitCRUD()">
                    <input type="button" class="btn btn-primary btn" value="Cancelar" (click)="ResetCRUD()">
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center  w-75 mx-auto mt-2 mb-5">
        <div class="">
            <h1 class="p-3 fs-2 border-top border-3 text-center">Integrantes</h1>
            <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Valor por noche</th>
                        <th scope="col">Cant. noches</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of Reservations; index as i">
                        <td scope="row">{{record.FirstName}}</td>
                        <td>{{record.LastName}}</td>
                        <td>{{record.NightValue}}</td>
                        <td>{{record.NightsCount}}</td>
                        <td>{{record.Total}}</td>
                        <td>
                            <input type="button" class="btn btn-primary btn" value="Editar" (click)="EditElementAtIndex(i)">
                            <input type="button" class="btn btn-primary btn" value="Borrar" (click)="RemoveElementAtIndex(i)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
