<!-- <section>
    <div class="container w-50 m-auto text-center" id="equipo">
        <h1 class="mb-5 fs-2">Equipo pequeño con <span class="text-primary">resultados Grandes</span>.</h1>
        <p class="fs-4 ">Siempre buscamos las personas adecuadas para que trabajen con nosotros. Si te sientes listo
            para este reto, te esperamos para que te unas a nosotros.</p>
    </div>

    <div class="mt-5 text-center">
        <img id="img-equipo" src="../../../assets/img/equipo.jpg" alt="equipo">
    </div>

</section> -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="../../../assets/img/img_4.jpg" alt="Plantilla Bootstrap gratuita de uicookies.com"
                        class="img-responsive"></a>
                <div class="text">
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Habitacion Clasica</font>
                        </font>
                    </h3>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Desde </font>
                        </font><strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">$ 29.00 / Noche</font>
                            </font>
                        </strong>
                    </p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">4,7</font>
                                    </font>
                                </span> <i class="icon-star"></i>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> 252 Reseñas</font>
                                </font>
                            </li>
                            <li><i class="icon-user2"></i>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> 3 huéspedes</font>
                                </font>
                            </li>
                        </ul>
                    </div>
                    <p><a href="./Reservas" class="btn btn-primary" role="button">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Reserva ahora por $ 29.00</font>
                            </font>
                        </a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="../../../assets/img/img_1.jpg" alt="Plantilla Bootstrap gratuita de uicookies.com"
                        class="img-responsive"></a>
                <div class="text">
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Habitación Grand Deluxe</font>
                        </font>
                    </h3>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Desde </font>
                        </font><strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">$ 29.00 / Noche</font>
                            </font>
                        </strong>
                    </p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">4,7</font>
                                    </font>
                                </span> <i class="icon-star"></i>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> 252 Reseñas</font>
                                </font>
                            </li>
                            <li><i class="icon-user2"></i>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> 3 huéspedes</font>
                                </font>
                            </li>
                        </ul>
                    </div>
                    <p><a href="./Reservas" class="btn btn-primary" role="button">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Reserva ahora por $ 29.00</font>
                            </font>
                        </a></p>
                </div>
            </div>
        </div>       
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="../../../assets/img/img_2.jpg" alt="Plantilla Bootstrap gratuita de uicookies.com"
                        class="img-responsive" style="display: block;
                        max-width: 100%;
                        height: auto;"></a>
                <div class="text">
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Habitación Ultra Superior</font>
                        </font>
                    </h3>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Desde </font>
                        </font><strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">$ 29.00 / Noche</font>
                            </font>
                        </strong>
                    </p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">4,7</font>
                                    </font>
                                </span> <i class="icon-star"></i>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> 252 Reseñas</font>
                                </font>
                            </li>
                            <li><i class="icon-user2"></i>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> 3 huéspedes</font>
                                </font>
                            </li>
                        </ul>
                    </div>
                    <p><a href="./Reservas" class="btn btn-primary" role="button">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Reserva ahora por $ 29.00</font>
                            </font>
                        </a></p>
                </div>
            </div>
        </div>                        
</div>