<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="../../../assets/img/best-holiday-destination-2.jpg" class="d-block w-100" alt="">
    </div>


    <div class="carousel-item" data-bs-interval="3000">
      <img src="../../../assets/img/PicMonkey-Collage.jpg" class="d-block w-100" alt="...">
    </div>


    <div class="carousel-item" data-bs-interval="3000">
      <img src="../../../assets/img/best-holiday-destinations-2020-1572544665.jpg" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
      <h2>Nuestros mejores servicios</h2>
      <p class="lead">Contamos con excelente personal encargado de brindar los mejores servicios con el fin de que nuestros clientes disfruten al máximo su estadía </p>
    </div>
  </div>
</div>

<section class="w-100">
  <div class="row w-75 mx-auto" id="servicios-fila-1">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="../../../assets/img/3774062.png" alt="taxi" width="180" height="160">

      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Taxis</h3>
        <p class="px-4">Transporte incluido del aeropuerto al hotel</p>
      </div>

    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
      <img src="../../../assets/img/dd9dc9d83423bc037b511d73b29e6b80.png" alt="foof" width="180" height="160">

      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Comidas</h3>
        <p class="px-4">Excelentes platos gratuitos para que deleites tu paladar</p>
      </div>
    </div>
  </div>

  <div class="row w-75 mx-auto mb-5" id="servicios-fila-2">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
      <img src="../../../assets/img/wifi-signal-pngrepo-com.png" alt="wifi" width="180" height="160">

      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Wi-fi</h3>
        <p class="px-4">Disfruta conectado las 24/7 sin consumir datos móviles</p>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="../../../assets/img/aseo.png" alt="aseo" width="180" height="160">

      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Limpieza</h3>
        <p class="px-4">Mentemos siempre tus espacios limpios</p>
      </div>
    </div>
  </div>
</section>